html {
    height: 100%;
}
body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0;
    padding-bottom: 253px;
    font-family: 'ProximaNova-Reg';
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 25px;
    color: #4c5454;
    text-transform: uppercase;
}
h2 {
    font-size: 25px;
    color: #3b3f3f;
    font-family: 'ProximaNova-Light';
}
p {
    font-size: 18px;
    color: #3b3f3f;
}
p.bold {
    font-family: 'ProximaNova-SemiBold';
}
a {
    font-size: 14px;
    color: #42aef9;
    display: inline-block;
    border-bottom: 1px solid #D2ECFF;
    line-height: 14px;
}
a:hover {
    border-bottom: 1px solid transparent;
}
.img-thumbnail {
    padding: 0;
    border: 0;
}
.btn_gray,
.btn_gray a {
    width: 100%;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 13px;
    display: block;
    text-decoration: none;
    background: #F8F8F8;
    border: none;
    font-family: 'ProximaNova-SemiBold';
    font-size: 18px;
    color: #4c5454;
    cursor: pointer;
}
.btn_gray:hover,
.btn_gray a:hover {
    background: #00AFFC;
    color: #FFF;
    border: none;
}
.btn_transp,
.btn_transp a {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 13px;
    display: block;
    text-decoration: none;
    background: none;
    border: 2px solid #fff;
    font-family: 'ProximaNova-SemiBold';
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.btn_transp:hover,
.btn_transp a:hover {
    color: #00AFFC;
    border: 2px solid #00AFFC;
}
::-webkit-input-placeholder {
    font-family: 'ProximaNova-LightIt';
    color: #6f7171;
}
::-moz-placeholder {
    color: #6f7171;
    font-family: 'ProximaNova-LightIt';
}
/* Firefox 19+ */
:-moz-placeholder           {
    font-family: 'ProximaNova-LightIt';
    color: #6f7171;
}/* Firefox 18- */
:-ms-input-placeholder {
    font-family: 'ProximaNova-LightIt';
    color: #6f7171;
}
input[type="text"],
textarea {
    width: 100%;
    resize: none;
    border: 2px solid #EEEFEF;
    font-size: 14px;
    color: #6f7171;
    font-family: 'ProximaNova-Reg';
    padding-top: 15px;
    padding-bottom: 17px;
    padding-right: 19px;
    padding-left: 19px;
    line-height: 18px;
    margin-bottom: 9px;
    outline: none;
}
textarea {
    height: 100px;
    margin-bottom: 3px;
}
.line {
    border: 0;
    border-bottom: 1px solid #CFD0D0;
    margin: 0;
}
.news_container {
    margin-top: 48px;
    margin-bottom: 107px;
}
.news_container .form h2 {
    line-height: 25px;
    margin-bottom: 16px;
    margin-top: -4px;
}
.news_shab_page .item .news h2,
.news h2 {
    margin-top: 13px;
}
.news_shab_page .item .news p,
.news p {
    font-size: 16px;
    margin-top: 7px;
    line-height: 20px;
}
.news_shab_page .item .news img,
.news img {
    width: 100%;
}
div.news:nth-child(3n) {
    clear: right;
}
div.news:nth-child(3n+1) {
    clear: left;
}
.pages {
    margin-top: 60px;
    margin-bottom: 44px;
    margin-left: -8px;
}
.pages a {
    font-size: 15px;
    font-family: 'ProximaNova-Bold';
    color: #a7a7a7;
    margin-right: 10px;
    margin-left: 9px;
    border: none;
}
.pages a.last_page {
    margin-left: 14px;
    margin-right: 8px;
}
.pages a.to_last_page {
    width: 7px;
    height: 8px;
    background: url(../img/to_last_page.png);
    margin-left: 0;
    position: relative;
    bottom: 1px;
}
.pages a.to_last_page:hover {
    background-position: 0 -8px;
}
.pages a:hover {
    color: #00BFFC;
}
.pages a.active {
    border: 2px solid #00BFFC;
    border-radius: 50%;
    width: 22px;
    line-height: 18px;
    height: 22px;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
}
.pages a.active:hover {
    color: #a7a7a7;
}
.pages a:first-child {
    margin-left: 0;
}
.banner {
    width: 100%;
    height: 425px;
    display: table;
    margin-top: 24px;
}
.banner h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 45px;
    color: #fff;
    font-family: 'PTSans-NarrowReg';
    text-transform: none;
    line-height: 54px;
}
.photo_container {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 45px;
    margin-bottom: 42px;
}
.photo_container img {
    width: 100%;
}
.photo_container .text {
    position: absolute;
    bottom: 19px;
    left: 0;
    width: 100%;
}
.photo_container .text p {
    font-size: 15px;
    font-family: 'ProximaNova-Reg';
    color: #fff;
    line-height: 18px;
    margin-top: 0;
}
.alienist {
    padding-top: 45px;
    padding-bottom: 42px;
    clear: both;
}
.alienist .avatar {
    padding-left: 40px;
}
.alienist .avatar img {
    width: 100%;
}
.alienist blockquote {
    border: none;
    font-size: 25px;
    line-height: 27px;
    color: #3b3f3f;
    font-family: 'ProximaNova-Light';
    margin-top: 77px;
    margin-left: 10px;
    margin-bottom: 15px;
    padding: 0;
    padding-right: 100px;
}
.alienist .info p {
    text-align: right;
    font-size: 17px;
    line-height: 16px;
    margin: 0;
}
/* Header
------------------------------------------------------------------------------------ */
.header_container {
    position: relative;
    margin-bottom: 25px;
}
.header_container header {
    height: 105px;
    padding: 0;
    padding-top: 28px;
}
.header_container .text {
    display: inline-block;
    margin-top: -2px;
    padding-left: 20px;
    padding-right: 2px;
}
.header_container .logo {
    padding-left: 9px;
}
.header_container .logo a {
    border: none;
}
.header_container .right {
    color: #4c5454;
    font-size: 12px;
    padding-top: 13px;
}
.header_container .text p {
    line-height: 14px;
    text-align: right;
    font-size: 12px;
}
.header_container .right input {
    width: 146px;
    height: 24px;
    padding-left: 9px;
    padding-right: 28px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    outline: none;
    border: 1px solid #919292;
    background: url(../img/search_icon.png) no-repeat 95%;
    font-size: 12px;
    font-family: 'ProximaNova-Reg'
}
.container-fluid,
.navbar-collapse {
    padding: 0;
}
.header_container .nav_container {
    padding-left: 0;
    padding-right: 0;
    position: static;
}
.header_container .nav_container.col-sm-12 .navbar-nav {
    text-align: center;
}
.header_container .nav_container.col-sm-12 .navbar-nav>li {
    display: inline-block;
    float: none;
    position: static;
}
.navbar-header a.logo_link {
    display: inline;
}
.navbar {
    min-height: 20px;
    background: none;
    border: none;
    margin-top: 43px;
    position: static;
}
.header_container .navbar-nav>li {
    margin-right: 10px;
}
.header_container .navbar-nav>li:last-child {
    margin-right: 0;
}
.header_container .navbar-nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
    color: #4c5454;
    font-family: 'ProximaNova-SemiBold';
    border-bottom: none;
}
.header_container .navbar-nav>li.active>a,
.header_container .navbar-nav>li.active>a:hover,
.header_container .navbar-nav>li>a:hover {
    background: none;
    color: #42aef9;
}
.header_container .navbar-header a {
    border: none;
}
.header_container .navbar-nav>li>a:hover {}
.header_container .navbar-header .logo_mobile {
        display: none;
    }

/* Departments
------------------------------------------------------------------------------------ */
.departments_container,
.filial_container {
    padding-bottom: 29px;
}

.departments_page .news_container,
.filial_page .news_container {
    margin-bottom: 96px;
}
.departments_container h1,
.filial_container h1 {
    margin-top: -5px;
    margin-bottom: 45px;
}
a.department {
    display: table;
    width: 100%;
    height: 150px;
    border: 5px solid #d7dada;
    margin-bottom: 20px;
    font-size: 20px;
    color: #4c5454;
    text-align: left;
    padding: 0 30px;
    line-height: 22px;
}
a.department span {
    display: table-cell;
    vertical-align: middle;
}
a.department span {
    width: 100%;
}
a.department:hover {
    color: #42aef9;
    border-color: #42aef9;
    text-decoration: none;
}
/* Departments Shab
------------------------------------------------------------------------------------ */
.dep_shab_page h1 {
    margin-top: 46px;
    margin-bottom: 9px;
}
.dep_shab_container {
    margin-bottom: 50px;
}
.dep_shab_page .features p {
    margin-top: 8px;
    line-height: 20px;
    padding-right: 100px;
}
.dep_shab_page .main_slider .carousel-caption {
    height: 100%;
    width: 80%;
    padding: 0;
    display: table;
    bottom: 0;
    left: 10%;
}
.dep_shab_page .main_slider .carousel-caption h1 {
    display: table-cell;
    vertical-align: middle;
}
/* Index
------------------------------------------------------------------------------------ */
.index_page .news_container {
    margin-top: 70px;
    margin-bottom: 70px;
}
.subnav_container {
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: -22px;
    background: #fff;
    z-index: 2000;
    left: 0;
    padding-top: 47px;
    padding-bottom: 45px;
    display: none;
    -webkit-transition-delay: 5s;
    -o-transition-delay: 5s;
    -ms-transition-delay: 5s;
    -moz-transition-delay: 5s;
    transition-delay: 5s;
}
.subnav ul {
    list-style: none;
}
.subnav li {
    margin-bottom: 10px;
    text-align: left;
}
.subnav li:last-child {
    margin-bottom: 0;
}
.subnav li a {
    font-size: 17px;
    color: #4c5454;
    border: none;
}
.subnav li a:hover {
    color: #42aef9;
}

.main_slider {
    height: 423px;
}
.main_slider .item {
    height: 423px;
}
.main_slider .carousel-inner img {
    width: 100%;
    height: 423px;
}
.main_slider .carousel-caption h1,
.main_slider .carousel-caption h2,
.main_slider .carousel-caption p {
    font-family: 'PTSans-NarrowReg';
}
.main_slider .carousel-caption h1{
    font-size: 45px;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 22px;
}
.main_slider .carousel-caption h2 {
    font-size: 33px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
}
.main_slider .carousel-caption p {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 28px;
}
.main_slider .carousel-caption .btn_transp {
    width: 225px;
    margin: auto;
    margin-bottom: 62px;
}
.main_slider .carousel-indicators {
    margin-bottom: 0;
    bottom: 23px;
}
.main_slider .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0 3px;
    border-width: 2px;
}
.main_slider .carousel-indicators .active {
    background: rgba(255,255,255,.3);
}

.carousel_container .carousel_inner {
    margin: 70px 0 100px;
    border: 6px solid #d7dada;
    height: 207px;
    position: relative;
}
.carousel_container .carousel_inner h2 {
    font-family: 'PTSans-NarrowBold';
    font-size: 32px;
    color: #d6d6d6;
    text-align: center;
    margin: 18px 0 32px;
}
.carousel_inner .prev,
.carousel_inner .next {
    background: none;
    width: 28px;
    height: 32px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 58px;
    z-index: 50;
    cursor: pointer;
    padding: 0;
}
.carousel_inner .prev {
    left: 22px;
    background: url(../img/slider/left-arrow.png) no-repeat;
}
.carousel_inner .next {
    right: 22px;
    background: url(../img/slider/right-arrow.png) no-repeat;
}
.carousel_inner .prev:hover,
.carousel_inner .next:hover {
    background-position: 0 -37px;
}
.partner_carousel {
    margin: auto;
}
.partner_carousel ul {
    padding: 0;
}
.partner_carousel ul li {
    height: 79px;
    width: 100px;
    text-align: center;
}
.partner_carousel ul li .img_container {
    margin: auto;
    position: relative;
    display: inline-block;
}
.partner_carousel ul li img {
    height: 79px;
}
.partner_carousel ul li img.img_hover {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}
.partner_carousel ul li:hover img.img_hover {
    visibility: visible;
}

.partner_carousel ul li p {
    margin: 0;
}
/* Map
------------------------------------------------------------------------------------ */
#service_map,
.index_page #filials_map {
    height: 425px;
}
#filials_map {
    height: 528px;
}
.map_container {
    position: relative;
}
.map_container .nav-tabs {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 100;
    border: none;
    width: 940px;
    margin-left: -470px;
}
.map_container .nav-tabs li {
    width: 50%;
    margin: 0;
}
.map_container .nav-tabs li a {
    background: #f8f8f8;
    border: none;
    border-radius: 0;
    text-align: center;
    margin: 0;
    font-family: 'ProximaNova-SemiBold';
    font-size: 18px;
    color: #4c5454;
    padding: 15px 0;
}
.map_container .nav-tabs li:first-child a {
    border-right: 2px solid #d3d2d2;
}
.map_container .nav-tabs li:nth-child(2) a {
    border-left: 2px solid #d3d2d2;
}
.map_container .nav-tabs li.active a {
    background: #42aef9;
    border: none;
    margin: 0;
    color: #fff;
}
.map {
    width: 100%;
}
.map .popover {
    display: block;
    border: 5px solid #42aef9;
    border-radius: 0;
    padding: 10px;
    color: #4c5454;
}
.map .popover .close {
    position: absolute;
    right: 5px;
    top: 1px;
}
.map .popover .arrow {
    margin-left: -20px;
    border-width: 20px;
    border-top-color: #42aef9;
    bottom: -40px;
}
.map .popover .arrow:after {
    bottom: -9px;
    margin-left: -15px;
    border-width: 15px;
    border-top-color: #fff;
}

.map .popover .popover-title {
    background: none;
    border: none;
    padding: 0;
    font-family: 'ProximaNova-SemiBold';
    font-size: 18px;
    margin-bottom: 10px;
}
.map .popover .popover-content {
    padding: 0;
    font-size: 15px;
}
/* Contacts
------------------------------------------------------------------------------------ */
.contacts_container {
    padding-bottom: 55px;
}
.contacts_container h1 {
    margin-bottom: 40px;
    margin-top: -5px;
}
.contacts_container h5 {
    font-size: 20px;
    color: #4c5454;
    margin-bottom: 16px;
}
.contacts_container p {
    line-height: 20px;
}
.contacts_container a {
    font-size: 18px;
    border: none;
}
.contacts_container a:hover {
    text-decoration: underline;
}
.contacts_page .map_container {
    margin-bottom: 100px;
}
/* Documents
------------------------------------------------------------------------------------ */
.documents_container {
    padding-bottom: 100px;
}
.documents_container h1 {
    margin-bottom: 15px;
}
.documents_container p {
    margin: 7px 0;
    line-height: 20px;
}
.documents_container a {
    border: none;
    width: 100%:;
    display: block;
    margin-top: 25px;
}
.documents_container a img {
    width: 100%;
}
.documents_container a p {
    color: #4c5454;
    margin-top: 25px;
    margin-bottom: 45px;
}
.documents_container a span {
    position: relative;
    display: block;
}
.documents_container a:hover p {
    color: #5bb9fa;
}
.documents_container a:hover span:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(91,185,250,.56);
    content: " ";
    z-index: 2;
    display: block;
}
/* Filial shab
------------------------------------------------------------------------------------ */
.filial_shab .main_slider .carousel-caption {
    height: 100%;
    width: 80%;
    padding: 0;
    display: table;
    bottom: 0;
    left: 10%;
}
.filial_shab .main_slider .carousel-caption h1 {
    display: table-cell;
    vertical-align: middle;
}
.filial_shab .section p {
    line-height: 20px;
}
.filial_shab .section h1 {
    margin-top: 48px;
    margin-bottom: 17px;
}
.filial_shab .section ul {
    padding-left: 20px;
}
.filial_shab .section ul li {
    margin: 6px 0;
}
.filial_shab .section a {
    font-size: 18px;
    border: none;
}
/* Question
------------------------------------------------------------------------------------ */
.questions_container {
    padding-top: 20px;
}
.question {
    margin-top: 35px;
}
.question h1 {
    text-transform: none;
    margin-bottom: 18px;
}
.question p {
    line-height: 20px;
    padding-right: 100px;
}
.question a {
    margin-top: 15px;
}
.question a.open {
    text-indent: -71px;
    overflow: hidden;
}
.question a.open:after {
    content: 'Скрыть'
}
.question .hide_text {
    display: none;
}
/* News Page
------------------------------------------------------------------------------------ */
.news_page {
    margin-bottom: 94px;
    margin-top: 20px;
}
.news_page .news {
    margin-top: 44px;
    margin-bottom: 0;
}
.news_page .pages {
    margin-top: 53px;
    margin-bottom: 0;
}
.news_page .btn_gray {
    margin-top: 62px;
    margin-bottom: 0;
}
/* Filial
------------------------------------------------------------------------------------ */
.filial_container a.department {
    text-align: center;
}
/* History
------------------------------------------------------------------------------------ */
.history_page .banner {
    background-size: cover;
}
.history_container {
    margin-bottom: 99px;
}
.history_container h1,
.news_shab_container h1 {
    margin-top: 47px;
    padding-left: 10px;
    margin-bottom: 9px;
}
.history_container p,
.news_shab_container p {
    line-height: 20px;
    margin-left: 30px;
    padding-right: 55px;
    margin-top: 10px;
}
/* News Shablon
------------------------------------------------------------------------------------ */
.news_shab_page .banner {
    background-size: cover;
}
.news_shab_container {
    margin-bottom: 48px;
}
.news_shab_slider .item .carousel-caption {
    text-shadow: none;
    text-align:left;
    padding:0;
    padding-left: 10px;
    padding-right: 10px;
    position: static;
}
.news_shab_slider .carousel-indicators {
    bottom: -7px;
}

.news_shab_slider .carousel-indicators li {
    background: #B3B3B3;
    width: 11px;
    height: 11px;
    margin:0;
    border: none;
    margin-right: 9px;
    margin-left: 9px;
}
.news_shab_slider .carousel-indicators li:hover,
.news_shab_slider .carousel-indicators li.active {
    background: #32373B;
    width: 11px;
    height: 11px;
    margin-right: 9px;
    margin-left: 9px;
}
.news_shab_slider {
    padding: 0;
}
/* Admins
------------------------------------------------------------------------------------ */
.admin_container h1 {
    margin-top: -5px;
}
.administration {
    padding-top: 48px;
}
div.administration.first {
    padding-top: 45px;
}
.administration .avatar {
    margin-right: 9px;
}
.administration .avatar img {
    width: 100%;
}
.administration .text {
    display: inline;
}
.administration .text h1 {
    text-transform: none;
    margin-top: -5px;
}
.administration .text p {
    padding-right: 100px;
    line-height: 20px;
    margin-top: 5px;
    padding-left: 10px;
}
.administration .text p.bold {
    margin-top: 18px;
}
.administration .text p.post {
    font-size: 20px;
    color: #4c5454;
    margin-top: 3px;
}
.admin_container {
    margin-bottom: 98px;
}

/* Services
------------------------------------------------------------------------------------ */
.services_accordion {
    margin-bottom: 100px;
}
.services_table {
    padding-left: 10px;
    padding-right: 10px;
}
.services_container h1 {
    margin-bottom: 30px;
    margin-top: 10px;
 }
.services_container p {
    line-height: 20px;
}
.services_table {
    margin-top: 50px;
}
.services_container .service_info a {
    line-height: 20px;
    font-size: 18px;
    color: #3b3f3f;
    font-family: 'ProximaNova-SemiBold';
    border-bottom: none;
}
.services_container .service_info,
.services_container .service_cost,
.services_container .service_cod {
    float: left;
    border-right: 3px solid #E1E1E1;
    border-bottom: 3px solid #E1E1E1;
    display: table-cell;
    padding-top: 21px;
    padding-bottom: 18px;
    padding-left: 27px;
}
.services_container .service_cod p.first,
.services_container .service_cost p.first {
    margin-top: 30px;
}
.services_container .service_info {
    padding-right: 27px;
}
.services_container .panel-heading .service_info a {
    position: relative;
    display: inline-block;
}
.services_container .panel-heading .service_info a.collapsed:after {
    content: '';
    border: 4px solid transparent;
    border-top: 7px solid #616464;
    top: 8px;
}
.services_container .panel-body .service_info p.bold {
    margin-bottom: 10px;
}
.services_container .panel-heading .service_info a:after {
    content: '';
    border: 4px solid transparent;
    border-bottom: 7px solid #616464;
    position: absolute;
    right: -18px;
    top: 4px;
}
.services_container .panel-heading .service_info p {
    margin-top: 25px;
}
.services_container .service_wrap,
.services_container .colon_name {
    display: table;
    width: 100%;
    position: relative;
}
.services_container .colon_name {
    border-top: 3px solid #E1E1E1;
}
.services_container .colon_name .service_info {
    margin-bottom: 0;
}
.services_container .service_info {
    width: 66%;
    border-left: 3px solid #E1E1E1;
}
.services_container .service_cost {
    right: 17%;
}
.services_container .service_cod {
    right: 0;
}
.services_container .service_cost,
.services_container .service_cod {
    width: 17%;
    line-height: 20px;
    font-size: 18px;
    color: #3b3f3f;
    font-family: 'ProximaNova-Reg';
    position: absolute;
    height: 100%;
    padding-left: 0;
    text-align: center;
}
.services_container .panel-body,
.services_container .panel,
.services_container .panel + .panel,
.services_container .panel-heading,
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none;
    padding: 0;
    margin: 0;
    background: none;
}

/* directory
------------------------------------------------------------------------------------ */
.directory_container {
    margin-bottom: 100px;
}
.directory_container h1 {
    margin-top: -5px;
    margin-bottom: -10px;
}
.directory {
    margin-top: 36px;
}
div.directory:nth-child(3n) {
    clear: right;
}
div.directory:nth-child(3n+1) {
    clear: left;
}
.directory h2.letter {
    font-size: 50px;
    font-family: 'ProximaNova-Thin';
    margin-bottom: 10px;
}
.directory p {
    line-height: 22px;
}
.directory p a {
    font-size: 18px;
    border-bottom: none;
    color: #4c5454;
}
.directory a:hover,
.directory a.show_items:hover {
    color: #42aef9;
}
.directory a.show_items {
    color: #4c5454;
    font-size: 16px;
    border-bottom: none;
    position: relative;
    margin-top: 13px;
    padding-right: 10px;
}
.directory a.show_items:after {
    content: '';
    border: 3px solid transparent;
    border-top: 5px solid;
    top: 5px;
    right: 0px;
    position: absolute;
}
.directory a.toggle:after {
    content: '';
    border: 3px solid transparent;
    border-bottom: 5px solid;
    top: 2px;
}
.directory .hidden_items {
    display: none;
}
.directory .modal-dialog {
    width: 940px;
    border: 5px solid #00AFFC;
    border-radius: 0;
    background: #fff;
    top: 270px;
}
.directory .modal-content {
    width: 755px;
    border: none;
    border-radius: 0;
    margin: auto;
    box-shadow: none;
    padding-bottom: 52px;
}
.directory .modal-content h1 {
    text-transform: none;
    margin-top: 40px;
}
.directory .modal-content p {
    margin-top: 20px;
}
.directory .modal-dialog .close {
    opacity: 1;
}
.directory .modal-dialog .close span {
    font-size: 22px;
    color: #00AFFC;
    position: absolute;
    right: 75px;
    top: 48px;
    width: 16px;
    height: 16px;
    background: url(../img/close.png);
    z-index: 5;
}
/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
    background: #373a3d;
    padding: 35px 0 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer_container ul {
    list-style: none;
}
.footer_container ul li a,
.footer_container ul li p {
    font-size: 16px;
    color: #ced0d0;
    border-bottom: none;
    line-height: 18px;
    margin-bottom: 7px;
}
.footer_container ul.contacts {
    margin-top: 20px;
}
.footer_container ul.contacts li p {
    text-align: center;
    font-size: 20px;
    line-height: 22px;
}
/* Mediaa
------------------------------------------------------------------------------------ */
@media screen and (max-width: 991px) {
    a.department {
        padding-left: 45px;
    }
    .filial_container a.department {
        padding-left: 45px;
    }
    .alienist blockquote {
        margin-top: 20px;
        padding-right: 50px;
    }
    .directory .modal-dialog {
        width: 740px;
        top: 170px;
    }
    .directory .modal-content {
        width: 585px;
    }
    .map_container .nav-tabs {
        width: 720px;
        margin-left: -360px;
    }
}
@media screen and (max-width: 767px) {
    .news_container .form h2 {
        font-size: 40px;
        margin-bottom: 27px;
    }
    .form input {
        font-size: 20px;
        padding-top: 24px;
        padding-bottom: 23px;
        margin-bottom: 20px;
    }
    .form textarea {
        font-size: 20px;
        padding-top: 24px;
        padding-bottom: 23px;
        height: 176px;
        margin-bottom: 25px;
    }
    .btn_gray,
    a.btn_gray {
        font-size: 30px;
        padding-top: 28px;
        padding-bottom: 28px;
        line-height: 30px;
    }
    .banner {
        margin-top: 0;
    }
    .news_shab_page .item .news,
    .news {
        margin-bottom: 62px;
    }
    .news_shab_page .item .news h2,
    .news h2 {
        margin-top: 16px;
        font-size: 40px;
    }
    .news_shab_page .item .news p,
    .news p {
        font-size: 30px;
        line-height: 35px;
    }
    .news_shab_page .item .news a,
    .news a {
        display: none;
    }
    .header_container {
        padding-top: 0;
        height: 108px;
        margin-bottom: 0;
    }
    .header_container header {
        display: none;
    }
    .header_container .nav_container.col-xs-12 .navbar-nav {
        text-align: left;
        margin-top: -1px;
    }
    .header_container .nav_container.col-xs-12 .navbar-nav>li {
        display: block;
    }
    .header_container .navbar {
        margin-top: 0;
        margin-bottom: 0;
    }
    .header_container .navbar-header {
        height: 108px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-top: 1px solid #CFD0D0;
        border-bottom: 1px solid #CFD0D0;
        margin-left: 0;
        margin-right: 0;
    }
    .header_container .navbar-nav {
        margin: 0;
        z-index: 1000;
        position: relative;
        background: #00AFFC;
    }
    .header_container .navbar-collapse {
        border-top: none;
        margin-right: 0;
    }
    .header_container .navbar-nav>li {
        padding-left: 38px;
        padding-top: 60px;
        padding-bottom: 27px;
        margin-right: 0;
    }
    .header_container .navbar-nav>li>a {
        font-size: 40px;
        color: #fff;
        line-height: 45px;
    }
    .header_container .navbar-nav>li.active>a,
    .header_container .navbar-nav>li.active>a:hover,
    .header_container .navbar-nav>li>a:hover {
        color: #155684;
    }
    .navbar-collapse.in {
        overflow: visible;
    }
    .header_container .navbar_open {
        background: #00AFFC;
    }
    .header_container .navbar-header .logo_white,
    .header_container .navbar-header .logo_mobile {
        margin-top: -3px;
        display: none;
    }
    .header_container .navbar-header .logo_mobile {
        padding-left: 10px;
        display: inline-block;
    }
    .header_container .navbar-header .logo_white,
    .header_container .navbar_open .logo_mobile {
        display: none;
    }
    .header_container .navbar_open .logo_white {
        display: inline-block;
        padding-left: 11px;
    }
    .header_container .navbar_open .navbar-header {
        border: none;
    }
    .header_container .navbar-header {
        line-height: 44px;
    }
    .header_container .navbar-header button {
        width: 56px;
        padding:0;
        background: none;
        border: none;
        border-radius: 0;
        margin-right: 30px;
        margin-top: 0;
        height: 46px;
        overflow: hidden;
    }
    .header_container .navbar-header button span.icon-bar {
        width: 56px;
        height: 10px;
        margin-bottom: 8px;
        margin-top: 0;
        background: #C2C2C2;
    }
    .header_container .navbar-header button:focus,
    .header_container .navbar-header button:hover {
        background: none;
    }
    .header_container .navbar_open .navbar-header button span {
        background: white;
    }
    .questions_container {
        padding-top: 20px;
    }
    .questions_container .question:first-child {
        margin-top: 18px;
    }
    .question {
        margin-top: 57px;
    }
    .question h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 7px;

    }
    .question p {
        font-size: 30px;
        line-height: 35px;
        padding-right: 0px;
    }
    .question a.open {
        text-indent: -154px;
        overflow: hidden;
    }
    .question a.open:after {
        content: 'Скрыть'
    }
    .question a {
        font-size: 30px;
        line-height: 30px;
    }
    .questions_container .btn_gray {
        margin-top: 69px;
        margin-bottom: 70px;
    }
    .news_page {
        margin-bottom: 70px;
        margin-top: 20px;
    }
    .news_page .news {
        margin-top: 62px
    }
    .news_page .news.first {
        margin-top: 33px;
    }

    .departments_container,
    .filial_container {
        padding-top: 50px;
        padding-bottom: 39px;
    }
    a.department {
        padding-left: 45px;
        margin-bottom: 30px;
    }
    a.department span {
        margin-bottom: 30px;
        font-size: 30px;
        text-align: center;
        line-height: 30px;
    }
    .dep_shab_page h1 {
        font-size: 40px;
    }
    .dep_shab_page .news_container {
        margin-bottom: 40px;
    }
    .dep_shab_page .features p {
        padding-right: 0;
        font-size: 30px;
        line-height: 35px;
    }
    .history_container p,
    .news_shab_container p {
        line-height: 30px;
        margin-left: 0px;
        padding-right: 0px;
        margin-top: 10px;
        font-size: 30px;
    }
    .photo_container .text {
        position: static;
        margin-top: 22px;
    }
    .photo_container .text p {
        color: #7b7b7b;
        font-size: 25px;
        line-height: 25px;
    }
    .alienist .avatar {
        padding-left: 10px;
    }
    .footer_container {
        padding: 86px 0 73px;
    }
    .footer_container ul.contacts {
        margin-top: 18px;
    }
    .footer_container ul.contacts li p {
        margin-bottom: 1px;
    }
    .administration {
        padding-top: 48px;
    }
    div.administration.first {
        padding-top: 19px;
    }
    .administration .text {
        display: block;
        clear: both;
    }
    .admin_page .news_container {
        margin-bottom: 40px;
    }
    .admin_container {
        margin-bottom: 29px;
    }
    .admin_container h1 {
        margin-top: 47px;
        font-size: 40px;
    }
    .administration .text h1 {
        text-transform: none;
        margin-top: 0px;
        font-size: 35px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 35px;
    }
    .administration .text p {
        padding-right: 10px;
        line-height: 34px;
        font-size: 30px;
        margin-top: 11px;
        padding-left: 10px;
    }
    .administration .text p.bold {
        margin-top: 0px;
        padding-top: 20px;
    }
    .administration .text p.post {
        font-size: 30px;
        color: #4c5454;
        margin-top: 2px;
    }
    .administration .text .btn_gray {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .administration .text .hide_text {
        margin-bottom: 39px;
    }
    .administration .text .hidden_text {
        clear: both;
    }
    .administration .text .hidden_text,
    .administration .text .hide_text {
        display: none;
    }
    .history_container h1,
    .news_shab_container h1,
    .admin_container h1 {
        padding-left: 0px;
    }
    .alienist blockquote {
     margin-left: 0;
    }
    .alienist .avatar {
        padding-left: 10px;
    }
    .main_slider .carousel-caption h1 {
        font-size: 55px;
        line-height: 55px;
    }
    .index_page .news_container {
        margin: 50px 0 25px;
    }
    .contacts_container {
    padding: 55px 0;
    }
    .contacts_container h1 {
        margin-bottom: 0px;
    }
    .contacts_container h5 {
        margin-top: 50px;
    }
    .contacts_page .map_container {
        margin-bottom: 0px;
    }
    .services_container h1 {
        font-size: 40px;
    }
    .services_container .service_info {
        padding-left: 0;
        padding-right: 0;
    }
    .services_container p,
    .services_container .panel-heading .service_info a {
        font-size: 30px;
        line-height: 35px;
    }
    .services_container .panel-heading .service_info a:after,
    .services_container .panel-heading .service_info a.collapsed:after {
        content: none;
    }
    .services_container .service_info {
        border-top: 3px solid #E1E1E1;
        border-bottom: none;
    }
    .services_container .service_info,
    .services_container .service_cost {
        display: block;
        width: 100%;
        position: static;
        font-size: 30px;
        line-height: 35px;
    }
    .services_container .service_info p,
    .services_container .service_wrap {
        word-break: break-all;
    }
    .services_accordion {
        border-bottom: 3px solid #E1E1E1;
        margin-bottom: 135px;
    }
    .services_container h1 {
        margin-top: 40px;
    }
    .services_container .colon_name {
        border-top: none;
    }
    .services_container .service_cost {
        border: none;
        text-align: left;
        padding-left: 30px;
        border-left: 3px solid #E1E1E1;
        border-right: 3px solid #E1E1E1;
    }
    .services_container .service_cost p.first {
        margin-top: 0px;
    }
    .services_container .panel-heading .service_info,
    .services_container .colon_name {
        text-align: center;
    }
    .directory_container h1 {
        font-size: 40px;
        margin-top: 38px;
    }
    .directory {
        margin-top: 33px;
    }
    .directory h2.letter {
        font-size: 90px;
        text-align: center;
        cursor: pointer;
        width: 70px;
        margin:auto;
        margin-bottom: -2px;
    }
    .directory h2.letter:hover {
        color: #42aef9;
    }
    .directory h2.active,
    .directory a.active {
        color: #42aef9;
    }
    .directory p {
        line-height: 36px;
    }
    .directory p a {
        font-size: 35px;
        line-height: 35px;
        border-bottom: none;
        color: #4c5454;
    }
    .directory a.show_items {
        display: none;
    }
    .directory .modal-dialog {
        width: 90%;
        top: 20px;
        left: 5%;
        margin:0;
    }
    .directory .modal-content {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .directory .modal-content h1 {
        font-size: 40px;
    }
    .directory .modal-content p {
        line-height: 35px;
        font-size: 30px;
    }
    .directory .modal-dialog .close span {
        right: 35px;
        top: 28px;
    }
    .directory_container {
        margin-bottom: 50px;
    }
    .documents_container {
        padding-bottom: 60px;
    }
    .main_slider .carousel-caption h1{
        font-size: 40px;
        line-height: 40px;
    }
}
@media screen and (max-width: 570px) {
    body {
        word-break: break-all;
        padding: 0;
    }
    .footer_container {
        position: static;
    }
    .header_container .navbar-header .logo_mobile {
        width: 76%;
        vertical-align: middle;
        padding-left: 10px;
    }
    .header_container .navbar-header button {
        margin-right: 10px;
    }
    .admin_container h1 {
        font-size: 25px;
    }
    .dep_shab_page .main_slider .carousel-caption {
        width: 100%;
        left: 0;
    }
    .directory .modal-content {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    .directory .modal-dialog .close span {
        right: 15px;
        top: 18px;
    }
    .departments_page a.department {
        padding-left: 0;
        padding-right: 0;
    }
}
